<h1>Ask the Coach</h1>

<form action="/answer">
  <label for="question">Ask your question:</label><br>
  <input type="text" name="question" id="question"><br>
  <input type="submit" value="Ask!">
</form>
